.container {
  position: absolute;
  top: 10%;
  left: 10px;
  margin: 0 auto;
  height: 95%;
  width: 100%;
  overflow: auto;
  overflow-y: scroll;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}